
@font-face {
  font-family: 'Bogart';
  src: local('Bogart'),
       url('../src/assets/fonts/bogart/BOGARTREGULARTRIAL.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart';
  src: local('Bogart'),
       url('../src/assets/fonts/bogart/BOGARTBOLDTRIAL.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}